{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}



<title>Signup</title>


{% block header %}
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0 text-info">{{ request.site }}</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link" aria-current="page" href="{% url 'index' %}">Home</a>
        {% if user.is_authenticated %}
            <a class="nav-link"
               href="{% url 'account_logout' %}">
              Logout
            </a>
        {% else %}
            <a  class="nav-link"
                href="{% url 'account_login' %}">
              Login
            </a>
            <a  class="nav-link active"
                href="{% url 'account_signup' %}">
              Register
            </a>

        {% endif %}
      </nav>
    </div>
  </header>
{% endblock header %}


{% block content %}
<div class="container-fluid">


  

<h3 class="h3" id="head_banner">{% trans "Sign Up" %}</h3>

<p class="exist_account_info">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="container-fluid text-center" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}

  {% for field in form %}
      <label >{{ field.label_tag }}</label>
      {{ field }}
  {% endfor %}


  {% if redirect_field_value %}

  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  
  {% endif %}
  
  <button class="btn btn-outline-primary btn-lg" type="submit">{% trans "Sign Up" %}</button>
</form>

</div>
{% endblock %}
