{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/theme.css' %}" type="text/css" />
    <!-- CSS only -->
<!--  <link-->
<!--    href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"-->
<!--    rel="stylesheet"-->
<!--    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"-->
<!--    crossorigin="anonymous"/>-->
  <link rel="stylesheet" href="{% static 'css/cover.css' %}" type="text/css" />
<!--    <script src="{% static 'js/main.js' %}"></script> -->

    <title>{% block title %}shaenr-django-auth{% endblock %}</title>
  </head>

  <body class="d-flex h-100 text-center text-white bg-dark">

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">


{% block header %}
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0 text-info">shaenr-django-auth</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link"
           href="{% url 'index' %}">
            Home
        </a>
        {% if user.is_authenticated %}
            <a class="nav-link"
               href="{% url 'account_logout' %}">
              Logout
            </a>

        {% else %}
            <a  class="nav-link active"
                  aria-current="page"
                href="{% url 'account_login' %}">
              Login
            </a>
            <a class="nav-link"
              href="{% url 'account_signup' %}">
              Register
            </a>
        {% endif %}
      </nav>
    </div>
  </header>
{% endblock header %}

{% block messages %}
  {% if messages %}
  <div>
      <ul>
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>{{message}}</strong>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
      </div>
      {% endfor %}
      </ul>
  </div>
  {% endif %}
{% endblock messages %}

{% block content %}
 <main class="px-3 mt-5">
      <section class="mt-5 mb-5">
      <h1>Auth that probably still sucks.</h1>
      {% if not user.is_authenticated %}
        <p class="lead">
          Learn more about this app by trying to login.
        </p>
      {% elif user.is_authenticated %}
        {% for emailaddress in user.emailaddress_set.all|slice:":1" %}
          {% if emailaddress.verified %}
            Successfully verified; try doing an authenticated <a class="text-info" href="{% url 'account_change_password' %}">password change</a>.
            <br>Forgot password? Do logout and use unauthenticated <i>"forgot password"</i>
          {% else %}
            <p class="lead">
            Learn more about this app by <a class="text-info" href="{% url 'account_email' %}">getting verified</a>.
            </p>
          {% endif %}

        {% endfor %}
      {% endif %}



      {% if user.is_authenticated %}
        <p>Successfully logged in as <b>{{ user.email }}</b></p>
        <p><a class="btn btn-info" href="{% url 'account_email' %}">Account Email Settings</a></p>
      {% else %}
        <p>You are not logged in.</p>
      {% endif %}
    </section>
   <br><br><Br>
    <section class="mt-4 mb-4">
      <p></p>
      <p class="lead">
        <a href="https://github.com/shaenr/shaenr-django-login"
           class="btn btn-lg btn-info fw-bold border-white bg-primary">
          GitHub
        </a>
      </p>
      <p></p>
    </section>

  </main>
  {% endblock content %}

    {% block content_extra %}{% endblock %}

  {% block footer %}
    <footer class="text-white-50 mt-4 mb-4 align-bottom">
      <p></p> <br><br><br><br><br>
      <p>A Work in Progress.</p>
      <div>

            <!-- Privacy Policy Button -->
            <a href="https://www.iubenda.com/privacy-policy/13996734" class="iubenda-black iubenda-noiframe iubenda-embed iubenda-noiframe " title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>

      </div>
    </footer>
  {% endblock footer %}



    <!-- Optional JavaScript -->
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous">
    </script>

  </div>
  </body>
</html>